<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Ooyala player V4 demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css' )}}/>
</head>
<body style="height: 100%; width: 100%; bgcolor:#17181c; display: block; ">
{% block body %}{% endblock %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>