<html>
   <head>
      <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width">
      <title>Demo Player V4 Ooyala - Shaik Azhar Ahmed </title>
      <link rel="stylesheet" type="text/css" href ="../static/style.css"/>
	  <!-- Include plugins necessary for player -->

      <link rel="stylesheet" type="text/css" href ="../static/style.css"/>
		<script>
		
		</script>
   </head>
   <body style="height: 100%; width: 100%;color: #fff; background: #17181c; font: 300 1em 'Fira Sans', sans-serif;">
 <div style="text-align: center;">  <h1 style="color:#ffcc88;"> Welcome to phase three</h1></div>
<p >The Signature, expires parameters in request are getting expired after certain time ("the epoch"). Also, I'm unable to use the JS to dynamically generate the Signature for changing the title of content. However, it can be also be done by using scratch-pad with this set-up or any with client size application (Python or Java). </p>
<p >I'll try to create a python script file that should fetch the content title (at index zero) and update it.</p>

 <img src="../static/rest_api.png" >
 <p> with regards to disabling the email icon from the player UI. I don't see the 'share mail' button in any of the player components <a href="https://drive.google.com/file/d/0Bzq5TjpmTZUoQ0s1dnZkVS11TFk/view?usp=sharing" target="_blank">(screen-shot)</a>. I do see that this element is mentioned in the API documentation as a player component <a href="https://drive.google.com/file/d/0Bzq5TjpmTZUoeXV5aEtCVTNqS0U/view?usp=sharing" target="_blank">(screen-shot)</a>. If I'm missing on something while creating player, then this case an be changed using patch.</p>
 </body>
 </html>
