<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Demo Player V4 Ooyala - Shaik Azhar Ahmed </title>
      <link rel="stylesheet" type="text/css" href ="../static/style.css"/>
   </head>
   <body width='100%' height='100%' >
      <center>
         <p> Demo Player V4 Ooyala - Shaik Azhar Ahmed </p>
		 <p> Email address: azzy049@outlook.com, Mobile : 8019436024,</p>
      </br>
	  <a href="welcome.html" target="iframe" > <button class="pulse" >Home</button>
      <a href="page_one.html" target="iframe"> <button id ="phase_one" class="pulse">Phase One</button>
      <a href="phase_2.html" target="iframe"> <button id ="phase_two" class="pulse">Phase Two</button></a>
      <a href="phase_three.html" target="iframe"> <button id ="phase_three" class="pulse">Phase Three</button>
	  </center>
	  <div id="wrapper">
		<div id="content" class="content">
			<iframe name = "iframe" width='100%' height='100%' src = "welcome.html" scrolling="no" />
		</div>
	  </div>
    
			  
</html>