<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width">
      <title>Demo Player V4 Ooyala - Shaik Azhar Ahmed </title>
      <link rel="stylesheet" type="text/css" href ="../static/style.css"/>
   </head>
   <body style="height: 100%; width: 100%;color: #fff; background: #17181c; font: 300 1em 'Fira Sans', sans-serif;">
   <h1 style="text-align: center; color:ef8f6e;">Welcome,</h1>
<p style="text-align: center;">I've tried to solve as many points as possible given in the task. However, the original idea was to desing the setup with Flask (Python) but I'm on vecation so used only the HTML & JavaScript. </p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"> <b style="color:red;"> Note :</b> All the players used in this website are configured to play only in Desktop. </p> 
 
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">Test account details :</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">Backlot user email address : <a href="mailto:azzy049@gmail.com">azzy049@gmail.com</a></p>
<p style="text-align: center;">Tools used : Node.js, Git, Chrome Developer tool bar, NPP</p>
<p style="text-align: center;">Setup hosted : Win 2012R2 EC2 instance (AWS)</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
  </body>
   </html>